@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&display=swap");

.layout {
  font-family: "Encode Sans", sans-serif;
  background-color: #0c0c0c;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}
.hamburger {
  display: none;
}
.box1 {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 200;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.55em;
  color: #e5dfd9;
  cursor: pointer;
  margin: 1.1875rem 3.125rem 1.375rem 3.125rem;

  text-transform: uppercase;
}
.interactables {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 1.875rem;
  width: 10.0625rem;
}
.interactables img {
  cursor: pointer;
}

.box2 {
  display: flex;
  justify-content: center;
  margin-top: 1.375rem;
  margin-bottom: 1.125rem;
}

.box2 ul {
  list-style-type: none;
  display: flex;
}
.box2 ul li {
  font-weight: 200;
  margin: 0 1.4em;
  font-size: 0.6em;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.1em;
}
.saved-products-btn {
  position: relative;
}
.cart-btn {
  position: relative;
}
.saved-products-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dfd9;
  color: black;
  padding: 1px;
  top: -0.3125rem;
  right: -0.75rem;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  font-weight: 700;
}
.saved-products-badge-mob {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dfd9;
  color: black;
  padding: 1px;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  font-weight: 700;
}
.cart-badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5dfd9;
  color: black;
  padding: 1px;
  top: -5px;
  right: -0.75rem;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  border-radius: 10rem;
  font-weight: 700;
}
.sidebar-layout {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 4.7em;
  left: 0;
  background-color: #0c0c0c;
  animation: sidebar-slide 0.3s ease-in-out;
}

.sidebar-close {
  cursor: pointer;
  margin: 1em;
  width: 1.875rem;
}
.interactables-mob {
  display: flex;
  margin: 1em;
  justify-content: space-evenly;
}
.interactables-mob-icon {
  cursor: pointer;
}
.box2-mob {
  width: 99%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  text-align: center;
}
.box2-mob ul {
  list-style-type: none;
}
.box2-mob ul li {
  list-style-type: none;
  margin: 2em 0;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .layout {
  }
  .box1 {
    display: flex;
    justify-content: center;
    /* margin-bottom: 3em; */
  }
  .hamburger {
    margin-bottom: 3em;
    display: inline-block;
    position: absolute;
    top: 0.68em;
  }

  .interactables {
    display: none;
  }
  .logo {
    margin-bottom: 1em;
    margin-top: 1.4em;
  }
  .box2 {
    display: none;
  }
}

/*        ANIMATIONS              */

@keyframes sidebar-slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
