@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;400&display=swap");

.layout {
  color: #0c0c0c;
  background-color: #0c0c0c;
  /* height: 100vh; */
  margin-top: 8.1em;
  padding-top: 2.125rem;
  padding-bottom: 2.125rem;
}
/* .carousel {
  width: 100%;
} */
.carousel-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #e5dfd9;
}
.carousel-item p {
  margin-top: 1.3125rem;
}
.breadcrumbs-and-filter {
  margin-top: 2.3125rem;
  display: flex;
  justify-content: space-between;
  margin: 2.3125rem 2rem 1.06625rem 2rem;
}
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e5dfd9;
  font-family: "Encode Sans";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0.1em;
  width: 9.4375rem;
}
.filter {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #e5dfd9;
  width: 9.4375rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 0.1em;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2.1325rem 1rem;
}
.product-card {
  flex: 1 1 auto !important;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 600px) {
  .layout {
    color: #0c0c0c;
    background-color: #0c0c0c;
    margin-top: 4.7em;
    padding-top: 2.125rem;
    padding-bottom: 2.125rem;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
}
